.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #393e6f;
}

.header {
  flex: 0 0 auto; /* Ocupa el espacio necesario y no crece */
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.main {
  flex: 1; /* Ocupa todo el espacio restante */
}

.footer {
  flex: 0 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
