.contenedor {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  padding: 10px;
}

.tarjeta {
  background-color: burlywood;
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: start;
}

.foto {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.contenedorRyM {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.tarjetaRyM {
  background-color: rgb(71, 157, 184);
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  width: 1fr;
  text-align: start;
}
