.contenedor {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
}

.tarjeta {
  background-color: burlywood;
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.foto {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
